<footer class="footer">
  <nav class="footer__nav">
    <ul>
      <li><a href="https://adalab.es/" target="_blank"> Articles</a></li>

      <li><a href="https://adalab.es/" target="_blank"> Books</a></li>

      <li><a href="https://adalab.es/" target="_blank"> Events</a></li>

      <li><a href="https://adalab.es/" target="_blank"> Reasons</a></li>

      <li><a href="https://adalab.es/" target="_blank"> Tips</a></li>
    </ul>
  </nav>
  <nav class="footer__nav">
    <ul>
      <li><a href="https://adalab.es/" target="_blank"> Twiter</a></li>

      <li><a href="https://adalab.es/" target="_blank"> Instagram</a></li>

      <li><a href="https://adalab.es/" target="_blank"> Events</a></li>

      <li><a href="https://adalab.es/" target="_blank"> Reasons</a></li>

      <li><a href="https://adalab.es/" target="_blank"> Tips</a></li>
    </ul>
  </nav>
  <small class="footer__small">
    <p>&copy;2021</p>
    <p>We <strong class="footer__small--heart">&hearts;</strong> components</p>
  </small>
</footer>
