<footer class="footer">
  <nav>
    <ul>
      <a href="https://adalab.es/" target="_blank">
        <li>Articles</li>
      </a>
      <a href="https://adalab.es/" target="_blank">
        <li>Books</li>
      </a>
      <a href="https://adalab.es/" target="_blank">
        <li>Events</li>
      </a>
      <a href="https://adalab.es/" target="_blank">
        <li>Articles</li>
      </a>
      <a href="https://adalab.es/" target="_blank">
        <li>Articles</li>
      </a>
    </ul>
  </nav>
  <nav></nav>
</footer>
