<header id="header" class="header">
  <div class="header__menucontainer">
    <a href="https://adalab.es/" target="_blank">
      <img
        class="header__menucontainer--menu"
        src="./assets/images/ico-menu.svg"
        alt="menu"
      />
    </a>
  </div>
  <section class="header__textcontainer">
    <h1 class="header__textcontainer--title">Anonymous proxy</h1>
    <small class="header__textcontainer--small">
      In hac habitasse platea dictumst.
    </small>
    >
  </section>
  <a href="#reasons" class="header__scroll-down-container">
    <img
      class="header__scroll-down-container--img"
      src="./assets/images/ico-scroll-down.svg"
      alt="menu"
      title="Adalab home page"
    />
  </a>
</header>
