<header class="header">
  <div class="header__menucontainer">
    <img
      class="header__menucontainer--menu"
      src="./assets/images/ico-menu.svg"
      alt="menu"
    />
  </div>
  <section class="header__textcontainer">
    <h1 class="header__textcontainer--title">Anonymous proxy</h1>
    <small class="header__textcontainer--small">
      In hac habitasse platea dictumst.
    </small>
    >
  </section>
  <div class="header__scroll-down-container">
    <img
      class="header__scroll-down-container--img"
      src="./assets/images/ico-scroll-down.svg"
      alt="menu"
    />
  </div>
</header>
