<main class="main">
  <section class="main__info-container">
    <small class="main__info-container--small"> Insomnia tips </small>
    <article class="main__info-container--article">
      <h1 class="main__info-container--article__title">
        Looking through a window
      </h1>
      <p class="main__info-container--article__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et iure, odit
        nemo provident minima quia animi sunt dolor, sint quae.
      </p>
    </article>
    <div class="main__info-container--button">
      <a
        href="https://adalab.es/"
        target="_blank"
        class="main__info-container--button__link"
        >Go</a
      >
    </div>
  </section>
  <section class="main__reasons-container">yep</section>
</main>
