<section class="special-offer">
  <h2 class="special-offer__title">Special Offer</h2>
  <div class="special-offer__div">
    <h3 class="special-offer__subtitle">20% discount</h3>
    <p class="special-offer__p">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed omnis
      similique fugiat doloremque ut iure quo nostrum dolore voluptas eligendi,
      provident voluptatibus perferendis aperiam quaerat voluptates error
      ratione deleniti temporibus!
    </p>
  </div>
</section>
