//Colors
$bright-orange: #f26002;
$white: #ffffff;
$lightblue: #8ccbea;
$cerulean: #0271bc;
$dark-grey-blue: #304268;

//Fonts
$RobotoSlab: "Roboto Slab", serif;
$Roboto: "Roboto", sans-serif;

$heart: "ZapfDingbatsITC";
