//Colors
$bright-orange: #f26002;
$white: #ffffff;
$ice-blue: #eff9ff;
$lightblue: #8ccbea;
$cerulean: #0271bc;
$dark-grey-blue: #304268;
$black: #000000;

//Fonts
$RobotoSlab: "Roboto Slab", serif;
$Roboto: "Roboto", sans-serif;
