* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li,
a {
  list-style-type: none;
  outline: none;
  text-decoration: none; }

@-webkit-keyframes spin {
  0% {
    background-color: #eff9ff;
    transform: scale3d(1.3, 1.3, 1.3); }
  25% {
    background-color: #0271bc; }
  50% {
    background-color: #304268; }
  75% {
    background-color: #0271bc; } }

@keyframes spin {
  0% {
    background-color: #eff9ff;
    transform: scale3d(1.3, 1.3, 1.3); }
  25% {
    background-color: #0271bc; }
  50% {
    background-color: #304268; }
  75% {
    background-color: #0271bc; } }

.header {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  /*no hace efecto*/
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .header .header__menucontainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0271bc;
    width: 44px;
    height: 44px; }
    .header .header__menucontainer--menu {
      padding: 15px 14px 15px 14px; }
  .header .header__textcontainer {
    width: 15em; }
    @media (min-width: 768px) {
      .header .header__textcontainer {
        margin: 384px 0 30px 0; } }
    .header .header__textcontainer--title {
      font-family: "Roboto Slab", serif;
      font-weight: bold;
      line-height: 55px;
      font-size: 42px; }
    .header .header__textcontainer--small {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      padding-top: 10px;
      font-size: 16px; }
  .header .header__scroll-down-container {
    display: inline-block;
    margin-bottom: 53px;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 22px; }
    .header .header__scroll-down-container--img {
      width: 20px;
      margin: 16px 13px 16px 13px; }
    @media (min-width: 768px) {
      .header .header__scroll-down-container {
        margin-bottom: 45px; } }
    @media (min-width: 1200px) {
      .header .header__scroll-down-container {
        margin-bottom: 13px; } }

.main {
  background-color: #ffffff; }

/*libre*/
.main__info-container {
  padding: 30px 15px 45px 15px; }
  @media (min-width: 768px) {
    .main__info-container {
      padding: 30px 40px 60px 40px; } }
  @media (min-width: 1200px) {
    .main__info-container {
      padding: 60px 275px 60px 275px; } }
  .main__info-container--small {
    color: #8ccbea;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 1px; }
  .main__info-container--article {
    color: #000000; }
    .main__info-container--article__title {
      font-family: "Roboto Slab", serif;
      font-size: 24px;
      font-weight: bold;
      text-transform: capitalize;
      padding-bottom: 15px; }
    .main__info-container--article__text {
      text-align: justify;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      padding-bottom: 30px; }
  .main__info-container--button__link {
    display: inline-block;
    color: #f26002;
    border: 2px solid #f26002;
    border-radius: 22.5px;
    width: 76px;
    height: 45px;
    padding: 13px 25px 13px 25px;
    transition: transform 0.5s ease-in-out, background-color 1s ease-in-out; }
    .main__info-container--button__link:hover {
      color: #ffffff;
      font-weight: bolder;
      background-color: #f26002;
      transform: scale(1.5); }

/*grid*/
.main__reasons-container {
  background-color: #eff9ff;
  text-align: center;
  color: #000000;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr); }
  @media (min-width: 768px) {
    .main__reasons-container {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      padding: 30px 40px 60px 40px; } }
  @media (min-width: 1200px) {
    .main__reasons-container {
      padding: 60px 80px 60px 80px; } }
  .main__reasons-container--title {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 30px;
    grid-column: 1/4;
    grid-row: 1/2; }
    @media (min-width: 768px) {
      .main__reasons-container--title {
        grid-column: 1/4;
        grid-row: 1/2;
        margin-top: 0px; } }
  .main__reasons-container--reasons {
    margin: 0px 68px 0px 68px; }
    @media (min-width: 768px) {
      .main__reasons-container--reasons {
        margin: 0px 0px 0px 0px; } }
    .main__reasons-container--reasons__title {
      font-family: "Roboto Slab", serif;
      font-weight: bold;
      font-size: 18px; }
    .main__reasons-container--reasons__p {
      font-family: "Roboto", sans-serif;
      font-size: 18px; }
  .main__reasons-container .reason1 {
    grid-column: 1/4;
    grid-row: 2/3; }
    @media (min-width: 768px) {
      .main__reasons-container .reason1 {
        grid-column: 1/2;
        grid-row: 2/3; } }
  .main__reasons-container .reason2 {
    grid-column: 1/4;
    grid-row: 3/4; }
    @media (min-width: 768px) {
      .main__reasons-container .reason2 {
        grid-column: 2/3;
        grid-row: 2/3; } }
  .main__reasons-container .reason3 {
    grid-column: 1/4;
    grid-row: 4/5; }
    @media (min-width: 768px) {
      .main__reasons-container .reason3 {
        grid-column: 3/4;
        grid-row: 2/3; } }
  .main__reasons-container--button {
    width: 184px;
    height: 45px;
    background-color: #f26002;
    border-radius: 22.5px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0 10px 0;
    margin-top: 15px;
    margin-bottom: 60px;
    grid-row: 5/5;
    grid-column: 2/3;
    transition: transform 0.5s ease-in-out, color 1s ease-in-out; }
    @media (min-width: 768px) {
      .main__reasons-container--button {
        grid-row: 3/4;
        grid-column: 1/4;
        margin-top: 60px;
        margin-bottom: 0px; } }
    .main__reasons-container--button:hover {
      color: #f26002;
      font-weight: bolder;
      background-color: #ffffff;
      border: 2px double #f26002;
      transform: scale(1.5); }

.footer {
  background-color: #304268;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0px 0 45px 0; }
  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      text-align: left;
      padding: 45px 40px 45px 40px; } }
  @media (min-width: 1200px) {
    .footer {
      text-align: left;
      padding: 45px 370px 45px 370px; } }
  .footer__arrow {
    margin-top: -22.5px;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    line-height: 60px;
    background-color: #ffffff;
    border-radius: 22.5px;
    -webkit-animation: 3s infinite spin;
    animation: 3s infinite spin; }
    @media (min-width: 768px) {
      .footer__arrow {
        position: absolute;
        margin-top: -67.5px;
        text-align: center; } }
  .footer__nav1 {
    padding-top: 60px; }
    @media (min-width: 768px) {
      .footer__nav1 {
        padding-top: 0px; } }
  .footer__nav {
    text-transform: uppercase;
    padding-bottom: 30px; }
    .footer__nav--a {
      color: #ffffff; }
  .footer__small {
    text-transform: lowercase;
    font-size: 14px; }
    .footer__small--heart {
      color: #f26002; }
    @media (min-width: 768px) {
      .footer__small {
        order: -1; } }

body {
  width: 100vw; }

.page {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
