.footer {
  background-color: $dark-grey-blue;
  text-align: center;
  font-family: $Roboto;
  font-size: 16px;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 0px 0 45px 0;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    padding: 45px 40px 45px 40px;
  }
  @media (min-width: 768px) {
    text-align: left;
    padding: 45px 370px 45px 370px;
  }
  &__arrow {
    margin-top: -22.5px;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    line-height: 60px;
    background-color: $white;
    border-radius: 22.5px;
    animation: 3s infinite spin;
    @media (min-width: 768px) {
      position: absolute;
      margin-top: -67.5px;
      text-align: center;
    }
  }
  &__nav1 {
    padding-top: 60px;
    @media (min-width: 768px) {
      padding-top: 0px;
    }
  }
  &__nav {
    text-transform: uppercase;
    padding-bottom: 30px;
    &--a {
      color: $white;
    }
  }
  &__small {
    text-transform: lowercase;
    font-size: 14px;
    &--heart {
      color: $bright-orange;
    }
    @media (min-width: 768px) {
      order: -1;
    }
  }
}
