.footer {
  background-color: $dark-grey-blue;
  text-align: center;
  font-family: $Roboto;
  font-size: 16px;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 0px 0 45px 0;
  &__arrow {
    transform: translateY(-22.5px);
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    line-height: 60px;
    background-color: $white;
    border-radius: 22.5px;
  }
  &__nav {
    text-transform: uppercase;
    padding: 0 0 30px 0;
    &--a {
      color: $white;
    }
  }
  &__small {
    text-transform: lowercase;
    font-size: 14px;
    &--heart {
      color: $bright-orange;
    }
  }
}
