.footer {
  background-color: $dark-grey-blue;
  text-align: center;
  font-family: $Roboto;
  font-size: 16px;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 0px 0 45px 0;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  &__arrow {
    margin-top: -22.5px;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    line-height: 60px;
    background-color: $white;
    border-radius: 22.5px;
    animation: 3s infinite spin;
  }
  &__nav1 {
    padding-top: 60px;
  }
  &__nav {
    text-transform: uppercase;
    padding-bottom: 30px;
    &--a {
      color: $white;
    }
  }
  &__small {
    text-transform: lowercase;
    font-size: 14px;
    &--heart {
      color: $bright-orange;
    }
  }
}
