.header {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%; /*no hace efecto*/
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header__menucontainer {
    position: fixed;
    top: 0;
    background-color: $dark-grey-blue;
    width: 44px;
    height: 44px;
    &--menu {
      display: block;
      padding: 15px 14px 15px 14px;
    }
  }
  .header__textcontainer {
    margin: 284px 15px 45px 15px;

    &--title {
      font-family: $RobotoSlab;
      font-weight: bold;
      line-height: 55px;
      font-size: 42px;
    }
    &--small {
      font-family: $Roboto;
      font-weight: 400;
      padding-top: 10px;
      font-size: 16px;
    }
  }
  .header__scroll-down-container {
    display: inline-block;
    margin-bottom: 53px;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    background-color: $white;
    border-radius: 22px;
    &--img {
      width: 20px;
      margin: 16px 13px 16px 13px;
    }
  }
}
