.header {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%; /*no hace efecto*/
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header__menucontainer {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $cerulean;
    width: 44px;
    height: 44px;
    &--menu {
      padding: 15px 14px 15px 14px;
    }
  }
  .header__textcontainer {
    margin: 284px 15px 45px 15px;
    width: 15em;
    @media (min-width: 768px) {
      margin: 384px 0 30px 0;
    }

    &--title {
      font-family: $RobotoSlab;
      font-weight: bold;
      line-height: 55px;
      font-size: 42px;
    }
    &--small {
      font-family: $Roboto;
      font-weight: 400;
      padding-top: 10px;
      font-size: 16px;
    }
  }
  .header__scroll-down-container {
    display: inline-block;
    margin-bottom: 53px;
    width: 45px;
    height: 45px;
    background-color: $white;
    border-radius: 22px;
    &--img {
      width: 20px;
      margin: 16px 13px 16px 13px;
    }
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 13px;
    }
  }
}

/*------ MENU HAMBURGUESA ---------*/
// .nav #cerrar {
//   opacity: 0.9;
//   background-color: $cerulean;
//   border: $white 2px solid;
//   color: $white;
//   text-transform: capitalize;
//   padding: 2px 4px;
//   display: block;
//   text-align: right; /*no es funcional pero va bien saber cómo colocar la "x"*/
// }
.nav {
  border: $white 2px solid;
}
#menu {
  margin: auto;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 20px;
  left: 5px;
  text-align: left;
}
.ul-principal li a {
  opacity: 0.9;
  background-color: $cerulean;
  border: $white 2px solid;
  color: $white;
  text-transform: capitalize;
  padding: 2px 4px;
  display: block;
  &:hover {
    background-color: #0272bc77;
  }
}

.ul-principal > li {
  float: inline-end;
}

.ul-principal li ul {
  display: none;
  position: absolute;
  min-width: 85px;
}

.ul-principal li:hover > ul {
  display: block;
}

.ul-principal li ul li {
  position: relative;
  ul {
    left: 85px;
    top: 0;
  }
}

/*------ MENU HAMBURGUESA opcion 2 ---------*/
