.main {
  background-color: $white;
}

.main__info-container {
  margin: 30px 15px 45px 15px;
  &--small {
    color: $lightblue;
    font-size: 14px;
    font-family: $Roboto;
    padding-bottom: 1px;
  }
  &--article {
    color: $black;
    &__title {
      font-family: $RobotoSlab;
      font-size: 24px;
      font-weight: bold;
      text-transform: capitalize;
      padding-bottom: 15px;
    }
    &__text {
      text-align: justify;
      font-family: $Roboto;
      font-size: 18px;
      padding-bottom: 30px;
    }
  }
  &--button {
    &__link {
      display: inline-block;
      color: $bright-orange;
      border: 2px solid $bright-orange;
      border-radius: 22.5px;
      width: 76px;
      height: 45px;
      padding: 13px 25px 13px 25px;
    }
  }
}

.main__reasons-container {
  background-color: $ice-blue;
  text-align: center;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--title {
    font-family: $RobotoSlab;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 30px;
  }
  &--reasons {
    margin: 0px 68px 0px 68px;
    &__title {
      font-family: $RobotoSlab;
      font-weight: bold;
      font-size: 18px;
      margin-top: 30px;
    }
    &__p {
      font-family: $Roboto;
      font-size: 18px;
    }
  }
  &--button {
    width: 184px;
    height: 45px;
    background-color: $bright-orange;
    border-radius: 22.5px;
    color: $white;
    margin-top: 45px;
    font-family: $Roboto;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0 10px 0;
    margin-bottom: 60px;
  }
}
